<template>
  <form id='sign-in-form'>
    <h2>Sign In</h2>
    <div id='inputs'>
      <input v-model='email' class='input' type='text' name='email' placeholder='Email' ref='email'/>
      <p class='error-message'></p>
      <input v-model='password' class='input' type='password' name='password' placeholder='Password' ref='password'/>
      <p class='error-message'>{{ error }}</p>
    </div>
    <div id='buttons'>
      <button id='sign-in-btn' @click='signIn'>Sign In</button>
      <button id='sign-up-btn' @click='showSignUp'>Sign Up</button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'SignIn',
  data () {
    return {
      email: '',
      password: '',
      error: ''
    }
  },
  methods: {
    signIn(e) {
      e.preventDefault();
      let currentObj = this;
      this.axios.post(
        '/sign_in', {
          data: {
            attributes: {
              email: this.email,
              password: this.password
            }
          }
        }
      ).then(function (response) {
        currentObj.$parent.token = response.data.token;
        currentObj.$parent.showSignIn = false;
      }).catch(function (error) {
        currentObj.error = error.response.data.errors[0].title;
        currentObj.$refs['email'].classList.add('error');
        currentObj.$refs['password'].classList.add('error');
      });
    },

    showSignUp() {
      this.$parent.showSignUp = true;
      this.$parent.showSignIn = false;
    },
  }
}
</script>

<style scoped>
#sign-in-form {
  margin: 30px;
}

h2 {
  width: 100%;
  text-align: center;
  color: var(--color-green);
}

.input {
  width: calc(100% - 6px);
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid var(--color-green);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-green);
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#inputs {
  height: 180px;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 11px;
  height: 15px;
  margin: 0;
}

#sign-in-btn, #sign-up-btn {
  width: 80px;
  height: 40px;
  background-color: var(--color-green);
  color: white;
  font-weight: 700;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
}

#sign-in-btn:hover, #sign-up-btn:hover {
  background-color: var(--color-dark-green);
  transition-duration: 0.8s
}
</style>
