<template>
  <form id='sign-up-form'>
    <h2>Sign Up</h2>
    <div id='inputs'>
      <input v-model='name' class='input' type='text' name='name' placeholder='Name' ref='name'/>
      <p class='error-message'> {{ nameError }} </p>
      <input v-model='email' class='input' type='text' name='email' placeholder='Email' ref='email' />
      <p class='error-message'> {{ emailError }} </p>
      <input v-model='password' class='input' type='password' name='password' placeholder='Password' ref='password' />
      <p class='error-message'> {{ passwordError }} </p>
    </div>
    <div id='buttons'>
      <button id='sign-up-btn' @click='signUp'>Sign Up</button>
      <button id='sign-in-btn' @click='showSignIn'>Sign In</button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'SignUp',
  data () {
    return {
      name: '',
      email: '',
      password: '',
      nameError: '',
      emailError: '',
      passwordError: ''
    }
  },
  methods: {
    showSignIn() {
      this.$parent.showSignUp = false;
      this.$parent.showSignIn = true;
    },

    signUp(e) {
      e.preventDefault();
      let currentObj = this;
      this.axios.post(
        '/sign_up', {
          data: {
            attributes: {
              name: this.name,
              email: this.email,
              password: this.password
            }
          }
        }
      ).then(function () {
        currentObj.showSignIn();
      }).catch(function (error) {
        let errors = error.response.data.errors;
        currentObj.nameError = '';
        currentObj.emailError = '';
        currentObj.passwordError = '';
        currentObj.$refs['name'].classList.remove('error');
        currentObj.$refs['email'].classList.remove('error');
        currentObj.$refs['password'].classList.remove('error');
        for(error of errors) {
          let fieldName = error.source.pointer.split('/').pop();
          switch(fieldName) {
            case 'name':
              currentObj.nameError = error.detail;
              currentObj.$refs['name'].classList.add('error');
              break;
            case 'email':
              currentObj.emailError = error.detail;
              currentObj.$refs['email'].classList.add('error');
              break;
            case 'password':
              currentObj.passwordError = error.detail;
              currentObj.$refs['password'].classList.add('error');
              break;
            default:
          }
        }
      });
    }
  }
}
</script>

<style scoped>
#sign-up-form {
  margin: 30px;
}

h2 {
  width: 100%;
  text-align: center;
  color: var(--color-green);
}

.input {
  width: calc(100% - 6px);
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid var(--color-green);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-green);
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#inputs {
  height: 180px;
}

.error {
  border-color: red;
}


.error-message {
  color: red;
  font-size: 11px;
  height: 15px;
  margin: 0;
}

#sign-in-btn, #sign-up-btn {
  width: 80px;
  height: 40px;
  background-color: var(--color-green);
  color: white;
  font-weight: 700;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
}

#sign-in-btn:hover, #sign-up-btn:hover {
  background-color: var(--color-dark-green);
  transition-duration: 0.8s
}
</style>
