<template>
  <div id="app">
    <div v-if="showSignIn" id='sign-in'>
      <SignIn />
    </div>
    <div v-else-if="showSignUp" id='sign-up'>
      <SignUp />
    </div>
    <div v-else>
      <UserPanel />
    </div>
    <!-- Example of ICON -->
    <!-- <font-awesome-icon icon="dragon" /> -->
  </div>
</template>

<script>
import SignIn from './components/SignIn';
import SignUp from './components/SignUp';
import UserPanel from './components/UserPanel';

export default {
  name: 'app',
  components: {
    SignIn,
    SignUp,
    UserPanel
  },
  data () {
    return {
      token: '',
      showSignIn: true,
      showSignUp: false
    }
  }
}
</script>

<style>
:root {
  --color-green: #117A65;
  --color-dark-green: #145A32;
  --color-light-grey: #EBEDEF;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-light-grey);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#sign-in, #sign-up {
  width: 300px;
  height: 320px;
  border: 1px solid var(--color-green);
  border-radius: 15px;
  background-color: white;
}
</style>
